/* Estilos básicos para todos os tamanhos de tela */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    /* Removido justify-content e align-items para corresponder ao CSS1 */
    padding: 1em;
    min-height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    text-align: left;
    border-radius: 2em;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.452);
    flex-direction: row; /* Alterado para flex-direction: row */
    flex-wrap: wrap; /* Adicionado para permitir wrap de conteúdo */
    width: 35%; /* Alterado para width: 35% */
    height: 65%; /* Alterado para height: 65% */
    padding: 5em; /* Alterado para padding: 5em */
    transition: transform 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
}

.card p {
    font-size: 1.07em; /* Alterado para corresponder ao CSS1 */
    margin: 0.5em 0;
}

.card h2 {
    text-align: center;
    font-size: 1.3em; /* Alterado para corresponder ao CSS1 */
    margin: 0.5em 0;
}

button {
    padding: 1.2em; /* Alterado para padding: 1.2em */
    border-radius: 2em;
    border: 1px; /* Alterado para border: 1px */
    background-color: rgb(67, 5, 124);
    color: white;
    font-size: 0.95em; /* Alterado para font-size: 0.95em */
    cursor: pointer;
    transition: transform 0.2s ease-in;
    margin-top: 1em;
    width: auto;
}

button:hover {
    transform: scale(1.1);
}

/* Para telas de dispositivos móveis pequenas (máx. 450px) */
@media (max-width: 451px) {
    main {
        padding: 0.5em;
        justify-content: center; /* Centraliza o conteúdo horizontalmente */
        align-items: center; /* Centraliza o conteúdo verticalmente */
    }

    .card {
        width: 90%; /* Ajusta a largura do card */
        padding: 1em; /* Ajusta o padding do card */
        margin: 0;
        border-radius: 0.8em; /* Ajusta o border-radius para um valor menor */
        height: auto;
        background-color: rgba(2, 2, 2, 0.295);
        display: flex;
        flex-direction: column; /* Mantém flex-direction como coluna */
        align-items: center; /* Centraliza o conteúdo do card */
    }

    .card p {
        font-size: 0.7em; /* Diminui o tamanho da fonte do parágrafo */
        margin-bottom: 0.6em;
        color: #ffffff;
        text-align: center; /* Centraliza o texto */
    }

    .card h2 {
        font-size: 0.9em; /* Diminui o tamanho da fonte do título */
        margin-top: 0.6em;
        margin-bottom: 0.3em;
        color: #ffffff;
        text-align: center; /* Centraliza o título */
    }

    button {
        padding: 0.5em 1em; /* Ajusta o padding do botão */
        font-size: 0.8em; /* Ajusta o tamanho da fonte do botão */
        background-color: #5800fc;
    }

    .card figure {
        margin: 0 0 1em 0;
    }

    .card img {
        width: 100%;
        height: auto;
    }
}