{% extends "navbar.html" %}

{% block content %}
<main>
    <section class="feedback" id="feedbackForm">
            <form id="feedbackForm" method="post" enctype="multipart/form-data" action="/feedback">
          
            <section>
                <label for="nome">Digite seu nome:</label>
                <input type="text" name="nome" id="nome" placeholder="DIGITE SEU NOME: ">
            </section>
                <section>
                <label for="email">Digite seu email:</label>
                <input type="text" name="email" id="email" placeholder="DIGITE SEU EMAIL: ">
            </section >
                <section class="text-sec">
                <label for="texto">Qual sua mensagem?</label>
                <textarea name="texto" id="texto" placeholder="DIGITE SUA MENSAGEM: "></textarea>
            </section>
                <button>Enviar feedback</button>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {% if category == 'success' %}alert-success{% else %}alert-danger{% endif %}" role="alert" id="flash-messages">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                
            </form>
    </section>
    
</main>
<script>
    // Função para remover as mensagens flash
    function removeFlashMessages() {
        var flashMessages = document.getElementById('flash-messages');
        if (flashMessages) {
            flashMessages.remove();
        }
    }

    // Define o tempo (em milissegundos) que as mensagens ficarão visíveis
    var displayTime = 8000; // 5 segundos

    // Agenda a remoção das mensagens
    setTimeout(removeFlashMessages, displayTime);
</script>

<style>
    main,html,body{
        overflow-y: hidden;
    }
</style>


{% endblock %}