{% extends "navbar.html" %}

{% block content %}

<main class="manual-main">
    

    <section class="manual">
        <header>
        <article>
        <h1>Manual de usuario</h1>
    </article>
</header>
<section>
        <section class="login">

                

                <h1>Tela de login:</h1>
                <p>Ao iniciar o aplicativo pela primeira vez, 
                    você será apresentado a uma tela de login, que inclui os campos de E-mail e Senha, 
                    um botão para Confirmar, além de opções para Cadastrar uma Conta e Recuperar Senha.</p>

                <img src="/static/img/cell/tela_login.png" alt="">
            </section>
            
            <section class="registro">
            
                <h1>Registro de conta:</h1>
                <p>Ao selecionar o botão “Criar uma Conta”, você será direcionado para a tela de registro, que contém o seguintes campos: 
                    E-mail, Senha, Confirmar Senha, CPF e Telefone, além de um botão para Confirmar Registro.</p>
                    <img src="/static/img/cell/criar_cadastro.png" alt="">
        </section>

        <section class="recuperacao">   

            <h1>Recuperacao de conta:</h1>
                <p>Ao selecionar a opção de Recuperação de Senha, você será direcionado para uma tela com os campos CPF, 
                    E-mail e Confirmação de E-mail. Após preencher esses campos, você deve clicar no botão 
                    Mandar E-mail de Confirmação para receber o e-mail de recuperação de senha. </p>
                    <img src="/static/img/cell/recuperar_senha.png" alt="">

        </section>

        <section class="Inicial">   

            <h1>Tela inicial</h1>
        <p>A tela inicial do app apresenta 
                    as opções de acesso ao Histórico de Pedidos e à Conta. Além disso, 
                    possui dois campos para inserção de informações de endereço, 
                    que iniciam o pedido do serviço.</p>

                <img src="/static/img/cell/tela_inicio.png" alt="">

        </section>

        <section class="Historico">   

            <h1>Historico</h1>
                <p>A interface de Histórico exibe em si uma tabela com todos os serviços realizados, guardando as informações: 
                    ID,  Local de  Retirada e Entrega, nome do entegador, Peso do 
                    objeto transportado, valor do serviço e a data de quando foi realizada.</p>
                    <img src="/static/img/cell/tela_historico.png" alt="">

        </section>

        <section class="conta">   

            <h1>Conta:</h1>
                <p>A interface Conta trás ao Usúario a possibilidade de verificar 
                    suas informações e altera-lás caso necessário. Também conta com um campo opcional para se colocar uma foto.</p>

                    <img src="/static/img/cell/tela_perfil.png" alt="">

        </section>

        <section class="primeira">   

            <h1>1° etapa de pedido:</h1>
                <p>Na primeira tela de pedido, o cliente visualiza informações sobre as localidades do serviço, com a 
                    possibilidade de edição, incluindo a distância. Há também um botão recorrente 
                    (presente em outras telas) para acessar Locais Salvos.</p>

                    <img src="/static/img/cell/tela_1.png" alt="">
        </section>

        <section class="salvos">   

            <h1>Locais salvos:</h1>
                <p>Na tela de Locais Salvos, é possível visualizar todas as 
                    localidades previamente salvas e registrar novos locais.</p>

                    <img src="/static/img/cell/locais_salvos.png" alt="">
        </section>

        <section class="segunda">   

            <h1>2° etapa de pedido:</h1>
                <p>Nesta etapa, o usuário adicionará as informações da mercadoria a ser transportada, 
                    como peso e tamanho. Esta tela também inclui as localizações e a 
                    opção de acesso aos Locais Salvos.</p>

                    <img src="/static/img/cell/tela_2.png" alt="">
        </section>

        <section class="terceira">   

            <h1>3° etapa de pedido:</h1>
                <p>A terceira etapa é a de busca do entregador, onde serão exibidas as 
                    informações do transportador e as opções de forma de pagamento.</p>

                <img src="/static/img/cell/tela_3.png" alt="">
        </section>

        <section class="ultima">   

            <h1>ultima etapa de pedido:</h1>
                <p>A última etapa do pedido é a verificação dos detalhes finais do serviço e a 
                    confirmação no botão Fazer Pagamento.
                </p>

                <img src="/static/img/cell/tela_4.png" alt="">
        </section>


    </section>

        
    </section>
</main>

<script src="https://unpkg.com/scrollreveal"></script>


{% endblock %}